// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";
.separator {
  padding-left: 20px;
}

.item {
  padding: 30px;
  border-radius: 10px;
  border: 1px solid black;
}

.notice {
  text-align: center;
  display: block;
  width: 100%;
}
